ul,
li,
p,
h3,
h4,
h5,
h6,
a {
    font-size: 0.7rem;
}

.content {
    margin-top: 84px;
}

.sub-list,
.pub-list {
    padding: 0;
    list-style: none;
}

.bg-inverse {
    background-color: #531f86!important;
}

img {
    border-radius: 4px;
    float: left;
    margin-bottom: 8px;
    max-width: 100%!important;
    max-height: 160px!important;
    position: relative;
    z-index: 1;
}

a {
    display: inline-block;
    outline: none!important;
}

h2 {
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: bold;
}

.submission,
.publication {
    float: left;
    clear: both;
    max-width: 100%!important;
}

.submission-content,
.publication-content {
    float: left;
    width: 100%;
}

iframe {
    max-width: 100%!important;
    border: 0;
}

h1 {
    font-size: 2rem;
    margin: 0;
}

p {
    font-size: 0.7rem;
    margin-bottom: 0.7rem;
}

.active {
    background-color: #bbb;
}

.wrapper {
    position: relative;
    width: 100%;
    display: block;
    overflow: auto;
    text-align: center;
    z-index: 2;
}

.youtube {
    background-image: url('../images/youtube.png');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    font-size: 0;
    z-index: 3;
}

.tab {
    width: 50%;
    float: left;
    border-radius: 0;
    font-size: 0.9rem;
    margin-bottom: 20px;
    position: fixed;
    top: 54px;
    z-index: 10;
    outline: 0;
    background-color: #ddd;
    color: #2e2e2e;
    border-right: 1px solid #ccc;
}

.tab-2 {
    right: 0;
    border-right: 0;
}