.content {
    margin-top: 56px;
}

.pub-list {
    padding: 0;
    list-style: none;
}

.bg-inverse {
    background-color: #531f86!important;
}

img {
    width: 100%;
    float: left;
    border-radius: 4px;
}

h2 {
    font-size: 0.8rem;
    margin-top: 5px;
}
.publication {
    float: left;
    clear: both;
}
.publication-content {
    float: left;
    width: 100%;
}

p {
    font-size: 0.7rem;
}